body{
    background: #D4DFC7;
}
h1{
    color: #725752;
}
h2{
    color: #96C0B7;
    margin:10px;
    padding:10px;
}
p{
    color: #878E88;
    margin:10px;
    padding:10px;
}
li{
    color:#878E88;

}
a{
    color:#878E88;
    margin:10px;
    padding:10px;
}
.moon{
    background-color: #FEF6C9;
    border-radius: 12px;
    margin-right:250px;
    padding:10px;
    width:250px;
    height:150px;
    position: absolute; /*or fixed*/
    right: 0px;
    
}
.homework{
    background-color: #FEF6C9;
    border-radius: 12px;
    
    margin-left:100px;
    margin-top:100px;
    padding:10px;
    width:800px;
    height:450px;
}
.title{
    background-color: #FEF6C9;
    border-radius: 12px;
    width:250px;
    height:150px;
    margin:10px;
    padding:10px;
    text-align: center;
    
}
